# dependencies
node_modules

# Own stuff
db
main.css
build
.history
functions/lib
functions/index.js
coverage

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

service-account-credentials.json