language: node_js
node_js:
- '8'
cache:
  directories:
  - node_modules
install:
  - yarn
  - cd functions
  - yarn
  - cd ..
script:
  - yarn build
  - yarn test:coverage
deploy:
  skip_cleanup: true
  provider: script
  script: firebase deploy --token $FIREBASE_TOKEN; cd functions; yarn deploy
  on:
    branch: master
