.rooms
  display: grid
  justify-content: center
  margin: 2.5vw
  @media (min-width: 640px)
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: 960px)
    max-width: 960px
    margin: 2.5vw auto
    grid-template-columns: repeat(3, 1fr)
      
  
.inputfile
	width: 0.1px
	height: 0.1px
	opacity: 0
	overflow: hidden
	position: absolute
	z-index: -1
  
.file-label
  display: flex
  justify-content: center
  cursor: pointer
  flex-grow: 1
  align-items: center
  
.room-title
  position: relative
  z-index: 1

.room
  margin: 1rem
  @for $i from 1 through length($rooms)
    &:nth-of-type(#{$i})
      .room-bg::after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: transparentize(nth($rooms, $i), .5)
  //   max-width: 30%
    // &:nth-of-type(2), &:nth-of-type(5)
    //   margin: 2.5vmin 0

.room-bg
  overflow: hidden
  div
    background: none !important
  img
    filter: blur(6px)
    transform: scale(1.1)


.big-room
  margin: 2.5vw auto
  max-width: 640px
  @media (max-width: 640px)
    margin: 0 2.5vw

.room-edit-block
  flex-grow: 1
  margin: .25em 2.5vw
  @media (max-width: 640px)
    margin: 0

.pictures-container
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  margin: .25em
  min-height: 128px

.upload-picture
  position: relative
  display: flex
  border: .25em dashed grey
  box-sizing: border-box
  width: 100px
  height: 100px
  border-radius: 50%
  margin: 1em
  transition: .3s
  &:hover
    background: transparentize(grey, .6)

.picture
  position: relative
  cursor: pointer
  margin: 1em
  border-radius: 50%
  width: 100px
  background-color: black
  transition: .2s
  overflow: hidden
  &:hover
    opacity: .8
    &:after
      border-radius: 50%
      content: "Kép törlése"
      color: white
      text-shadow: 0 0 10px black
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 1
      box-shadow: inset 0 0 20px black
      display: flex
      justify-content: center
      align-items: center
  img
    max-width: 100%
