@import 2-main/rooms
@import 2-main/posts
@import 2-main/reservations
@import 2-main/calendar/main
@import 2-main/feedbacks
@import 2-main/search

.app
  main
    flex-grow: 1

    h3
      text-align: left
      margin-left: 1em

@media(min-width: 768px)
  .app
    main
      h3
        text-align: center
        margin-left: 0
